@import url(./_card/popup__button_card.css);
@import url(./_profile/popup__button_profile.css);
@import url(./_valid/popup__button_valid.css);

.popup__button {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-top: 48px;
}
